<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Распродажа телефонов</title>

</head>

<body>

<h1 style="color: Teal">Каталог</h1>

<!--*********************** КНОПКИ **************************-->


<a>Сортировать по:</a>
<br> <br>  <a style="color: Teal" href="?sort=name">НАЗВАНИЮ</a>
<br> <br> <a style="color: Teal" href="?sort=min_price">НАЧИНАЯ С ДЕШЁВЫХ</a>
<br> <br> <a style="color: Teal" href="?sort=max_price">НАЧИНАЯ С ДОРОГИХ</a>




{% for phone in phones %}
<div class="phone">
  <a href="{% url 'phone' phone.slug %}">
    <h3>{{ phone.name }}</h3>
  </a>
  <div class="price">Стоимость: {{ phone.price }} ₽</div>
  <img height="400" src="{{ phone.image }}" alt="{{ phone.name }}"/>
</div>
{% endfor %}



</body>
</html>